
div{
    
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50px;
    
}


div :hover{
    background-color: red;
    width: 200px;
    height: 200px;
    top:10000px;
    right: 50px;
    position: absolute;

}

div  :active{
    background-color: red;
    width: 200px;
    height: 200px;
    top:10000px;
    left: 50px;
    position: absolute;

}
