

a{
    text-decoration:none solid pink;
}
/*შეხების მდგომარეობა*/
a:hover{
    text-decoration: underline solid red;
}
/*დაალიკების მიდგომარეობა*/
a:active{
    color:brown
}
/*ნამყოფი როცა ვართ ლინკზე*/
a:visited{
    color:yellow;
    text-decoration:dashed
}
/*ლინკები რომლებზეც არ ვყოფილვართ */
a:link{
    color:brown
}