#M1{
    text-transform: uppercase;
}
 
#M2{
    text-transform: lowercase;
}

#M3{
    text-transform: capitalize;
}

.M4{
    color: black;
    text-decoration: wavy underline green;
}

#M5{
    text-decoration: underline overline dashed red;
}

#M6{
    text-decoration: line-through navy dashed;
}