
div {
    background-color: red;
    width: 300px;
    height: 300px;
    animation-name:firsanim;
    animation-duration:15s;
    animation-iteration-count: infinite;
}

@keyframes firsanim{
    20%{
        background-color:blue;
        transform:rotate(360deg) translate(100px,100px);
        border-radius: 50%;
    }
    40%{
        background-color:aqua;
        transform:rotate(250deg) translate(200px,400px);
        border-radius:5px;
    }
    60%{
        background-color:green;
        transform:rotate(160deg) translate(150px,120px);
        border-radius: 50%;

    }
    80%{
        background-color:yellow;
        transform:rotate(-340deg) translate(250px,100px);
        border-radius: 5px;
    }
    100%{
        background-color:white;
        transform:rotate(60deg) translate(350px,130px);
        border-radius: 50%
    }
}