h1{
    
    text-align: center;
    color: silver
    

}
 h1{
     border:5px;
     margin-bottom:5px;
     padding:2px;
     background-color: navy;
     text-decoration: inline;


 }
 
 body{
background-color:  black;

 }
 
 p{
    color:silver
 }

 h2{
    text-align: center;
    color:blue
    

 }
    
 
   
    

 